<!DOCTYPE html>
<html>
    <head>
        <title>Košarica</title>
        <link rel="stylesheet" href="/styles/stilzacart.css">
    </head>
    
    <body>
        <div id="hhh">
            <img src="/images/Hrana.jpg" id="poz">
            <div id="kosdiv">
                <p id="gg">KOŠARICA</p>
                <div class="flexaj" style="border: solid;">
                    <div class="stupac">NAZIV PROIZVODA</div>
                    <div class="stupac">KOLIČINA</div>
                </div>
            </div>
        </div>
        <script src="/scripts/boljazacart.js"></script>
    </body>
</html>