<!DOCTYPE html>
<html>
    <head>
        <title>Dućan s hranom</title>
        <link rel="stylesheet" href="/styles/stil.css">
    </head>

    <body>
        <div id="div1">
            <img src="/images/logo.jpg" id="logo">
            <span id="kat"></span>
            <div id="div2">
                <a href="cart" id="par">               <!--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                    <img src="/images/kosarica.jpg" class="kosara">
                    <p id="invi">0</p>
                </a>
                <button>
                    <img src="/images/povecalo.jpg" class="kosara">
                </button>
            </div>
        </div>
        <div id="div3">
            <div id="divkat">
                <button onclick="promKat(1)"><p id="b1"></p></button>
                <button onclick="promKat(2)"><p id="b2"></p></button>
                <button onclick="promKat(3)"><p id="b3"></p></button>
                <button onclick="promKat(4)"><p id="b4"></p></button>
                <button onclick="promKat(5)"><p id="b5"></p></button>
                <button onclick="promKat(6)"><p id="b6"></p></button>
                <button onclick="promKat(7)"><p id="b7"></p></button>
                <button onclick="promKat(8)"><p id="b8"></p></button>
                <button onclick="promKat(9)"><p id="b9"></p></button>
                <button onclick="promKat(10)"><p id="b10"></p></button>
            </div>
            <div id="div4">
                <img src="/images/Hrana.jpg" id="hrana1">
                <span id="span1">Dobrodošli :)</span>
            </div>
        </div>
        <br>
        <div id="div6">
            <div id="div5">
                <button>Kontakt</button>
                <button>Newsletter</button>
                <button>Pretplati se</button>
            </div>
            <div id="grid">
                <div class="container">
                    <img class="voce" id="slika3">
                    <p class="pp" id="pp3"></p>
                     
                    <p id="invi3" class="klasa">0</p>
                    
                    <button class="kos2" onclick="proizvod(3)">
                        <img src="/images/kosarica.jpg">
                    </button>
                </div>
                <div class="container">
                    <img class="voce" id="slika4">
                    <p class="pp" id="pp4"></p>
                    <p id="invi4" class="klasa">0</p>
                    <button class="kos2" onclick="proizvod(4)">
                        <img src="/images/kosarica.jpg">
                    </button>
                </div>
                <div class="container">
                    <img class="voce" id="slika1">
                    <p class="pp" id="pp1"></p>
                    <p id="invi1" class="klasa">0</p>
                    <button class="kos2" onclick="proizvod(1)">
                        <img src="/images/kosarica.jpg">
                    </button>
                </div>
                <div class="container">
                    <img class="voce" id="slika2">
                    <p class="pp" id="pp2"></p>
                    <p id="invi2" class="klasa">0</p>
                    <button class="kos2" onclick="proizvod(2)">
                        <img src="/images/kosarica.jpg">
                    </button>
                </div>
                <div class="container">
                    <img class="voce" id="slika5">
                    <p class="pp" id="pp5"></p>
                    <p id="invi5" class="klasa">0</p>
                    <button class="kos2" onclick="proizvod(5)">
                        <img src="/images/kosarica.jpg">
                    </button>
                </div>
            </div>
        </div>
        <script src="/scripts/boljijava.js"></script>
    </body>
</html>